.xNav{
	background-color:#FFDAB9;
	font-family:Showcard Gothic !important;
	font-size:35px !important;
}

.x{
	height:20px;
	background-color:#022735;
	font-size:20px;
	margin-bottom:0px !important;
	border-radius:0px;
	border:0px;
	font-family:Showcard Gothic!important;
}
	
	.x .navbar-nav>li>a{
		color:#FFFFFF;
	
}

.logo_x{
	height:50px;
	width:150px;
	margin-left:20px;
	margin-right:20px;
	margin-top:3px;
}

.formx {
	width:300px !important;
	margin-left:10px;
	height:30px;
}

.xNav1{
	height:20x;
	background-color:#DD0000;
	font-Size:13px;
	border:0px;
	border-radius:0px;
	font-family:Showcard Gothic !important;
	margin-bottom:0px !important;
}
.X_button{
	background-color:#FFFF00 !important;
}

.xNavx{
	height:20x;
	background-color:#ff5c00;
	font-Size:13px;
	font-family:Showcard Gothic !important;
}

.xNavxx {
	font-Size:13px;
	background-color:##FFFF00 !important;
	font-family:Showcard Gothic;
	margin-top:0px !important;
	border:0px;
	border-radius:0px;
	margin-bottom:0px !important;
}

.x1List {
	background-color:#FF3300 !important;
	margin-top:0px !important;
	border:0px;
	border-radius:0px !important;
	margin-bottom:0px !important;
	font-family:Showcard Gothic !important;
}



.XB{
	background-color:#FF3300 !important;
	font-family:Showcard Gothic!important;
}
.xL{
	font-family:Showcard Gothic !important;
}

.productsx{
	font-family:Showcard Gothic !important;
	
}

.xL:hover{
	background-color:#000000 !important;
	color:#FFFFFF !important;
}

.x_Footer
{
	height:20x;
	background-color:#FFCC33;
	font-family:Showcard Gothic!important;
	font-Size:13px;
	border:0px;
	border-radius:0px;
	margin-bottom:0px !important;
}

