.xNav{
	background-color:#FFDAB9;
	font-family:calibri;
}

.x{
	height:20px;
	background-color:#022735;
	font-size:15px;
	margin-bottom:0px !important;
	border-radius:0px;
	border:0px;
}
	
	.x .navbar-nav>li>a{
		color:#FFFFFF;
	
}

.logo_x{
	height:50px;
	width:150px;
	margin-left:20px;
	margin-right:20px;
	margin-top:3px;
}

.formx {
	width:500px !important;
	margin-left:10px;
	height:30px;
}

.xNav1{
	height:20x;
	background-color:#2C3D92;
	font-Size:13px;
	border:0px;
	border-radius:0px;
	margin-bottom:0px !important;
}


.xNavx{
	height:20x;
	background-color:#FFFF99;
	font-Size:13px;
}

.xNavxx {
	font-Size:13px;
	font-family:calibri;
	margin-top:0px !important;
}


.x_Footer
{
	height:20x;
	background-color:#CCCCFF;
	font-family:calibri !important;
	font-Size:13px;
	border:0px;
	border-radius:0px;
	margin-bottom:0px !important;
}