{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

<title>one2car</title>

<!-- Bootstrap core CSS -->

    
<!-- Custom styles for this template -->
<link href="{% static 'themes/css/full-slider.css' %}" rel="stylesheet">
<link href="{% static 'themes/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'themes/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'themes/css/style1.css' %}" rel="stylesheet">
<link href="{% static 'themes/css/font-awesome.css' %}" rel="stylesheet">
<link href="{% static 'themes/css/style_one2car.css' %}" rel="stylesheet">
 
<!-- Start WOWSlider.com HEAD section -->
<link rel="stylesheet" type="text/css" href="{% static 'themes/engine20/style.css' %}" />
<script type="text/javascript" src="{% static 'themes/engine20/jquery.js' %}"></script>
<!-- End WOWSlider.com HEAD section -->


<!-- Start WOWSlider.com HEAD section -->
<link rel="stylesheet" type="text/css" href="{% static 'themes/engine21/style.css' %}" />
<script type="text/javascript" src="% static 'themes/engine21/jquery.js"></script>
<!-- End WOWSlider.com HEAD section -->

<!-- Start WOWSlider.com HEAD section -->
<link rel="stylesheet" type="text/css" href="{% static 'themes/engine24/style.css' %}" />
<script type="text/javascript" src="{% static 'themes/engine24/jquery.js"></script>
<!-- End WOWSlider.com HEAD section -->

<!-- Start WOWSlider.com HEAD section -->
<link rel="stylesheet" type="text/css" href="{% static 'themes/engine25/style.css' %}" />
<style type="text/css">
body {
	background-color: #FFF;
	background-image: url({% static 'themes/img/projact/bg%20SB.png' %});
}
body,td,th {
	color: #FFF;
}
</style>
<script type="text/javascript" src="{% static 'themes/engine25/jquery.js' %}"></script>
<!-- End WOWSlider.com HEAD section -->
</head>

<body>
<nav class="xNav">

</nav>


<nav class="xNav1 navbar navbar-default">
 <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	  
      <a href="#"><img class="logo_x" src="{% static 'themes/img/projact/logo.png' %}"></a>
    </div>
	

      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="formx form control" placeholder="Search">
        </div>
        <button type="button" class="X_button btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </form>
    



	<ul class="nav navbar-nav navbar">
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"  style="font-size:18px;color:white"></span></a></li>
		<li><a style="font-size:10px; margin-left:0px;color:white; " href="#">My Cart</a></li>
		<li><a href="#"><span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"  style="font-size:18px;color:black"></span></a></li>
		<li><a style="font-size:10px; margin-right:0px;color:white; " href="login.php">Admin</a></li>
        <li><a style="font-size:10px; margin-right:0px;href="#"><span class="#" aria-hidden="true" style="font-size:18px;color:black; margin-right:0px;" ></span></a></li>
		<li><a style="font-size:10px; margin-right:0px;color:white; " href="#">Registration</a></li>
		<li><a href="#"><img class="Thai" src="{% static 'themes/img/thai.jpg' %}"></a></li>
		<li><a href="#"><img class="Us" src="{% static 'themes/img/us.jpg' %}"></a></li>
        </li>
        </li>
      </ul>
	  

	
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<nav class="xNavxx navbar navbar-default">
	<div class="container">
	
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
	  
	  <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home<span class=""></span></a>
        
        </li>
		
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Toyota<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
		
		 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">BMW<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
		
		 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">iszu<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
		
		 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">chevrolet<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
		
		 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">mazda<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
		
		 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nissan<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
		
		 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">suzuki<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
		
		 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Honda<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
		
		 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mearcdes Benz<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
		
		 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Volvo<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
		
		 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Frod<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
	
      </ul>  
	   
</nav>


<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container20">
<div class="ws_images"><ul>
		<li><img src="{% static 'themes/data20/images/benz1.jpg' %}" alt="" title="" id="wows20_0"/></li>
		<li><img src="{% static 'themes/data20/images/benz2.jpg' %}" alt="" title="" id="wows20_1"/></li>
		<li><img src="{% static 'themes/data20/images/benz3.jpg' %}" alt="" title="" id="wows20_2"/></li>
		<li><img src="{% static 'themes/data20/images/bmw1.jpg' %}" alt="" title="" id="wows20_3"/></li>
		<li><img src="{% static 'themes/data20/images/bmw2.jpg' %}" alt="" title="" id="wows20_4"/></li>
		<li><img src="{% static 'themes/data20/images/bmw3.jpg' %}" alt="" title="" id="wows20_5"/></li>
		<li><img src="{% static 'themes/data20/images/toyota1.jpg' %}" alt="" title="" id="wows20_6"/></li>
		<li><img src="{% static 'themes/data20/images/toyota2.jpg' %}" alt="" title="" id="wows20_7"/></li>
		<li><img src="{% static 'themes/data20/images/baez5.jpg' %}" alt="" title="" id="wows20_8"/></li>
		<li><a href="http://wowslider.net"><img src="{% static 'themes/data20/images/banz4.jpg' %}" alt="bootstrap carousel" title="" id="wows20_9"/></a></li>
		<li><img src="{% static 'themes/data20/images/benz1_0.jpg' %}" alt="" title="" id="wows20_10"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title=""><span><img src="{% static 'themes/data20/tooltips/benz1.jpg' %}" alt=""/>1</span></a>
		<a href="#" title=""><span><img src="{% static 'themes/data20/tooltips/benz2.jpg' %}" alt=""/>2</span></a>
		<a href="#" title=""><span><img src="{% static 'themes/data20/tooltips/benz3.jpg' %}" alt=""/>3</span></a>
		<a href="#" title=""><span><img src="{% static 'themes/data20/tooltips/bmw1.jpg' %}" alt=""/>4</span></a>
		<a href="#" title=""><span><img src="{% static 'themes/data20/tooltips/bmw2.jpg' %}" alt=""/>5</span></a>
		<a href="#" title=""><span><img src="{% static 'themes/data20/tooltips/bmw3.jpg' %}" alt=""/>6</span></a>
		<a href="#" title=""><span><img src="{% static 'themes/data20/tooltips/toyota1.jpg' %}" alt=""/>7</span></a>
		<a href="#" title=""><span><img src="{% static 'themes/data20/tooltips/toyota2.jpg' %}" alt=""/>8</span></a>
		<a href="#" title=""><span><img src="{% static 'themes/data20/tooltips/baez5.jpg' %}" alt=""/>9</span></a>
		<a href="#" title=""><span><img src="{% static 'themes/data20/tooltips/banz4.jpg' %}" alt=""/>10</span></a>
		<a href="#" title=""><span><img src="{% static 'themes/data20/tooltips/benz1_0.jpg' %}" alt=""/>11</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">responsive slider</a> by WOWSlider.com v8.8</div>
<div class="ws_shadow"></div>
</div>	
<script type="text/javascript" src="{% static 'themes/engine20/wowslider.js' %}"></script>
<script type="text/javascript" src="{% static 'themes/engine20/script.js' %}"></script>
<!-- End WOWSlider.com BODY section -->





<div class="x_row7 row">
		<div class="x_grid7 col-md-2">
		<div class="list-group">
			<a href="" class="x1List list-group-item active">ALL CATECORIES</a>
			<a href="" class=" xL list-group-item ">Bmw<span class="XB badge">12</span> </a>
			<a href="" class=" xL list-group-item ">Toyota<span class="XB badge">12</span> </a>
			<a href="" class=" xL list-group-item ">Benz<span class="XB badge">12</span> </a>
			<a href="" class=" xL list-group-item ">Mazda<span class="XB badge">12</span> </a>
			<a href="" class=" xL list-group-item ">Isuzu<span class="XB badge">12</span> </a>
			<a href="" class=" xL list-group-item ">chevrolet<span class="XB badge">12</span> </a>
			<a href="" class=" xL list-group-item ">Frod<span class="XB badge">12</span> </a>
			<a href="" class=" xL list-group-item ">Suzuki<span class="XB badge">12</span> </a>
			<a href="" class=" xL list-group-item ">Nissan<span class="XB badge">12</span> </a>
			<a href="" class=" xL list-group-item ">Zuburu<span class="XB badge">12</span> </a>
			<a href="" class=" xL list-group-item ">volvo<span class="XB badge">12</span> </a>
		</div>
		</div>
		<br>
		<div class="x_grid7 col-md-5">
					<!-- Start WOWSlider.com BODY section -->
					<div id="wowslider-container24">
					<div class="ws_images"><ul>
							<li><img src="{% static 'themes/data24/images/w2.jpg' %}" alt="" title="" id="wows24_0"/></li>
							<li><img src="{% static 'themes/data24/images/w3.jpg' %}" alt="" title="" id="wows24_1"/></li>
							<li><img src="{% static 'themes/data24/images/w4.jpg' %}" alt="" title="" id="wows24_2"/></li>
							<li><a href="http://wowslider.net"><img src="{% static 'themes/data24/images/w5.jpg' %}" alt="bootstrap image slider" title="" id="wows24_3"/></a></li>
							<li><img src="{% static 'themes/data24/images/w1.png' %}" alt="" title="" id="wows24_4"/></li>
						</ul></div>
						<div class="ws_bullets"><div>
							<a href="#" title=""><span><img src="{% static 'themes/data24/tooltips/w2.jpg' %}" alt=""/>1</span></a>
							<a href="#" title=""><span><img src="{% static 'themes/data24/tooltips/w3.jpg' %}" alt=""/>2</span></a>
							<a href="#" title=""><span><img src="{% static 'themes/data24/tooltips/w4.jpg' %}" alt=""/>3</span></a>
						</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">wow slider</a> by WOWSlider.com v8.8</div>
					<div class="ws_shadow"></div>
					</div>	
					<script type="text/javascript" src="{% static 'themes/engine24/wowslider.js' %}"></script>
					<script type="text/javascript" src="{% static 'themes/engine24/script.js' %}"></script>
					<!-- End WOWSlider.com BODY section -->
		</div>
		
		<div class="x_grid7 col-md-3">
		
					<!-- Start WOWSlider.com BODY section -->
						<!-- Start WOWSlider.com BODY section -->
						<div id="wowslider-container25">
						<div class="ws_images"><ul>
								<li><img src="{% static 'themes/data25/images/o1.jpg' %}" alt="" title="" id="wows25_0"/></li>
								<li><img src="{% static 'themes/data25/images/2c36e0d7dbda1544c147ffb426cd2c10.jpg' %}" alt="" title="" id="wows25_1"/></li>
								<li><img src="{% static 'themes/data25/images/03.jpg' %}" alt="" title="" id="wows25_2"/></li>
								<li><a href="http://wowslider.net"><img src="{% static 'themes/data25/images/1957cffb5ad15f8.jpg' %}" alt="image slider" title="" id="wows25_3"/></a></li>
								<li><img src="{% static 'themes/data25/images/1393643559.jpg' %}" alt="" title="" id="wows25_4"/></li>
							</ul></div>
							<div class="ws_bullets"><div>
								<a href="#" title=""><span><img src="{% static 'themes/data25/tooltips/o1.jpg' %}" alt=""/>1</span></a>
								<a href="#" title=""><span><img src="{% static 'themes/data25/tooltips/2c36e0d7dbda1544c147ffb426cd2c10.jpg' %}" alt=""/>2</span></a>
								<a href="#" title=""><span><img src="{% static 'themes/data25/tooltips/03.jpg' %}" alt=""/>3</span></a>
								<a href="#" title=""><span><img src="{% static 'themes/data25/tooltips/1957cffb5ad15f8.jpg' %}" alt=""/>4</span></a>
								<a href="#" title=""><span><img src="{% static 'themes/data25/tooltips/1393643559.jpg' %}" alt=""/>5</span></a>
							</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">wow slider</a> by WOWSlider.com v8.8</div>
						<div class="ws_shadow"></div>
						</div>	
						<script type="text/javascript" src="{% static 'themes/engine25/wowslider.js' %}"></script>
						<script type="text/javascript" src="{% static 'themes/engine25/script.js' %}"></script>
						<!-- End WOWSlider.com BODY section -->		
		</div>
		<div class="x_grid7 col-md-2"><img src="{% static 'themes/img/projact/แถบขวา1.png' %}" class ="x_smallgrid11 img-responsive"/>
									  <img src="{% static 'themes/img/projact/แถบขวา2.png' %}" class ="x_smallgrid22 img-responsive"/></div>
</div>






<div class="x_row8 row">
	<div class="x_grid8 col-md-2"><img src="{% static 'themes/img/projact/แถบซ้าย1.png' %}" class ="img-responsive"/>
							
								  <img src="{% static 'themes/img/projact/แถบขวา4.png' %}" class ="img-responsive"/>
								  <img src="{% static 'themes/img/projact/แถบซ้าย2.png' %}" class ="img-responsive"/></div>
	<div class="x_grid8 col-md-10">
		<div class="row">
		<h1 style="font-family:Trattatelo,fantasy ; margin-left:35px;"><b>RECOMENDED PRODUCTS</b></h1><hr>	
		<div class="productsx col-md-3">
		<a href=""><center>
		  <p>&nbsp;</p>
		  <p><img src="{% static 'themes/img/projact/BMW 320i Luxury F30 TwinPowerTurbo.jpg' %}" class="img-responsive" width="266"  height="180"/></p>
		</center></a>
		<div class="text-center">
		  <p><a href="" class="">BMW</a></p>
		</div>
		<div class="text-center"><a href="" class=""> BMW 320i Luxury F30 TwinPowerTurbo </a></div>
		<p class="text-center">	2,229,000 Bhat</p>
		<button type="button" class=" text-center btn btn-info active"> See more information </button>

		</div>
		
		
		
		
				<div class="  productsx col-md-3">
		<a href=""><center>
		  <p>&nbsp;</p>
		  <p><img src="{% static 'themes/img/projact/bmw 420d GRAND COUPE M SPORT.jpg' %}" class="img-responsive' %}" width="250"  height="178"/></p>
		</center> </a>
		<div class="text-center"><a href="" class="">BMW</a></div>
		<div class="text-center"><a href="" class="">BMW 420d GRAND COUPE M SPORT</a></div>
		<p class="text-center">3,500,000 Bhat</p>
		<button type="button" class=" text-center btn btn-info active"> See more information </button>

		</div>
		
		
				<div class="productsx col-md-3">
		<a href=""><center>
		  <p>&nbsp;</p>
		  <p><img src="{% static 'themes/img/projact/BMW 525D AT 2013 -5525.jpg' %}" class="img-responsive" width="248"  height="182"/></p>
		</center> </a>
		<div class="text-center"><a href="" class="">BMW </a></div>
		<div class="text-center"><a href="" class="">BMW 525D AT 2013 -5525 </a></div>
		<p class="text-center">5,799,000 Bhat</p>
		<button type="button" class=" text-center btn btn-info active"> See more information </button>

		</div>
		
		
		
				<div class="productsx col-md-3">
		<a href=""><center>
		  <p>&nbsp;</p>
		  <p><img src="{% static 'themes/img/projact/bmw 640 c1 coupe.jpg' %}" class="img-responsive" width="237"  height="152" /></p>
		</center> 
		</a>
		<div class="text-center"><a href="" class="">BMW</a></div>
		<div class="text-center"><a href="" class="">BMW 640 c1 coupe. </a></div>
		<p class="text-center">3,500,000 Bhat</p>
		<button type="button" class=" text-center btn btn-info active"> See more information </button>

		</div>
		
		
	
		</div>
		<div class="productsx col-md-3">
		<a href=""><center>
		  <p>&nbsp;</p>
		  <p><img src="{% static 'themes/img/projact/BMW E36 M52 2800CC.jpg' %}" class="img-responsive" width="257"  height="194"/></p>
		</center> </a>
		<div class="text-center"><a href="" class="">BMW </a></div>
		<div class="text-center"><a href="" class="">BMW E36 M52 2800CC </a></div>
		<p class="text-center">5,799,000 Bhat</p>
		<button type="button" class=" text-center btn btn-info active"> See more information </button>

		</div>
		
		
		
				<div class="productsx col-md-3">
		<a href=""><center>
		  <p>&nbsp;</p>
		  <p><img src="{% static 'themes/img/projact/BMW 320D​ Sport.jpg' %}" class="img-responsive" width="259"  height="188" /></p>
		</center> </a>
		<div class="text-center"><a href="" class="">BMW</a></div>
		<div class="text-center"><a href="" class="">BMW 320D​ Sport </a></div>
		<p class="text-center">3,500,000 Bhat</p>
		<button type="button" class=" text-center btn btn-info active"> See more information </button>

		</div>
		
		
		
				<div class="productsx col-md-3">
		<a href=""><center>
		  <p>&nbsp;</p>
		  <p><img src="{% static 'themes/img/projact/BMW SERIES 318 I.jpg' %}" class="img-responsive" width="229"  height="162" /></p>
		</center> </a>
		<div class="text-center"><a href="" class="">BMW</a></div>
		<div class="text-center"><a href="" class="">BMW SERIES 318 I </a></div>
		<p class="text-center">3,500,000 Bhat</p>
		<button type="button" class=" text-center btn btn-info active"> See more information </button>

		</div>
		
		
				<div class="productsx col-md-3">
		<a href=""><center>
		  <p>&nbsp;</p>
		  <p><img src="{% static 'themes/img/projact/BMW 525D AT 2013 -5525.jpg' %}" class="img-responsive" width="248"  height="182"/></p>
		</center> </a>
		<div class="text-center"><a href="" class="">BMW </a></div>
		<div class="text-center"><a href="" class="">BMW 525D MT 2013 -5525 </a></div>
		<p class="text-center">5,599,000 Bhat</p>
		<button type="button" class=" text-center btn btn-info active"> See more information </button>

		</div>
		
			
		
		
		
		
				
		
	
		</div>
		
	</div>
	
	
	
	</div>
</div>

<div class="x_Footer  row"> 


<div class="  col-md-1"> 
</div>

<div class="  col-md-11"> 
<div class="  col-md-4"> 
		<h2>Contact Us</h2> 
			<h4>Quick links:</h4> 
				<ul>
				 <li> Admin </li>
				 <li> All product </li>
				 <li> Car for sale </li>
				 <li> Launch a new car </li>
				 <li> Update new news </li>
				</ul> 

</div>				
				
<div class="  col-md-4"> 
	<h2>About Us</h2> 
		<h4>Quick links:</h4> 
			<ul>
			 <li> Registration </li>
			 <li> Management </li>
			 <li> Log in </li>
			 <li> frequently asked Questions </li>
			 <li> About One2car </li>
			</ul> 

</div>			

<div class="  col-md-4"> 
	<h2>Phitsanulok Vocational College</h2> 
		<h4>Address:</h4> 
		<ul>
			 <li> 60 wang chan Rd, Tambon Nai Mueang, </li>
			 <li> Amphon Mueang Phitsanulok </li>
			 <li> Chang Wat phitsanulok 65000 </li>
			 <li> Phone: 055-258-570 </li>
		</ul> 

</div>
</div>

				
</div>



<div style="height:50px; background:#FF0033; color:#FFFFFF; padding-top:12px; font-family:Showcard Gothic; " class="x_Footer2">
<center>&copy; Copyright 2018

</div>	





</body>



<script src="{% static 'themes/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'themes/vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'themes/vendor/bootstrap/js/bootstrap.min.js' %}"></script> 

</html>

